# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_anon_key
DATABASE_URL=postgresql://postgres:your_password@db.supabase.co:5432/postgres

# Jira Cloud API Configuration
JIRA_EMAIL=your_jira_email@example.com
JIRA_TOKEN=your_jira_api_token_here
